@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

body{
    background: #f3e6d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh
}

main{
    background-color: #ffffff;
    max-width: 650px;
    padding: 2.5rem;
    border-radius: 1rem;
}

#omeletteImg{
    width: 100%;
    border-radius: 0.75rem;
}

h1{
    font-family: "Young Serif", serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 2rem 0 1rem 0;
    color: #302d2c;
}

p{
    font-size: 16px;
    line-height: 1.5rem;
    color: #5f574e;
}

#preparationTime{
    margin: 2rem 0 1rem 0;
    background-color: #fff5fa;
    padding: 1rem;
    border-radius: 0.75rem;
}

h3{
    color: #7b284f;
    margin-bottom: 1rem;
}

ul li{
    list-style-position:inside;
    color: #5f574e;
    margin: 0 0 0.75rem 1rem;
}