@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

body{
    background: #f3e6d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 3rem 0 3rem 0;
}

main{
    background-color: #ffffff;
    max-width: 650px;
    padding: 2.5rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

#omeletteImg{
    width: 100%;
    border-radius: 0.75rem;
}

h1{
    font-family: "Young Serif", serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 2rem 0 1rem 0;
    color: #302d2c;
}

p{
    font-size: 16px;
    line-height: 1.5rem;
    color: #5f574e;
}

#preparationTime{
    margin: 2rem 0 1rem 0;
    background-color: #fff5fa;
    padding: 1rem;
    border-radius: 0.75rem;
}

#preparationTime ul li::marker{
    color: #7b284f;
}

h3{
    color: #7b284f;
    margin-bottom: 1rem;
}

ul li, ol li{
    color: #5f574e;
    padding: 0 0 0.75rem 1rem;
    margin-left: 1.5rem;
}

ul li::marker, ol li::marker{
    color: #854632;
    font-weight: bold;
}

h2{
    font-family: "Young Serif", serif;
    font-weight: 500;
    color: #854632;
    margin: 2rem 0 1rem 0;
}

main hr {
    border-top: 1px solid #e4ded8;
    border-left: 0;
    margin: 1.5rem 0 1.5rem 0;
}

table{
    color: #5f574e;
    width: 100%;
    padding: 1rem;
    border-collapse: collapse;
    margin-top: 1rem;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0 1rem 1rem;
}

tr:last-child td{
    border: none;
    padding: 1rem 0 0rem 1rem;
}

.itemBold{
    color: #854632;
    font-weight: bold;
}

@media (max-width: 650px) {
    body{
        padding: 0 0 2rem 0;
    }

    main{
        padding: 0;
    }

    #container{
        padding: 2.5rem;
    }
}